@media (max-width: 1279px) {
    .contact-widget{
        /*padding: 10px 25px;*/
    }
}
@media (max-width: 980px) {
    #under-nav img{
        min-height: auto;

    }
    #under-nav .carousel-inner .carousel-caption{
        top:0
    }
    #my-nav ul li a{
        font-size: 11px;
        padding: 20px 15px;
    }
    /*.img-box{*/
        /*max-height: 113px;*/
    /*}*/
    .img-box .overlay-new i, .img-box .overlay-new img{
        left: 45%;
        top:45%
    }
    .ico-contactus{
        padding: 0;
    }
    #up-header .info-up-head{
        padding-top: 0;
    }
    .about-left-bg{
        padding: 15px;
        background-size:50% ;
    }
    .overlay-text-about h1{
        font-size: 30px;
    }
    .box-contact{
        margin-bottom: 10px;
        /*max-height: none;*/
    }

    
}
@media (max-width: 768px) {
    .img-box img{
        width: 100%;
    }
    .img-box{
        max-height: none;
    }
    .overlay-new img{
        width: auto;
    }
    #under-nav .carousel-inner .carousel-caption h2{
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    #my-nav .navbar-right{
        margin: 0;
    }

    #my-nav .navbar-nav.navbar-right li a#my-search{
        /*padding: 20px 0;*/
    }
    .nav.navbar-nav.navbar-right > li{
        display: inline-flex;
    }
    .pop-search-box{
        left: -150px;
    }
    #main-menu .menu-item li:first-child a{
        padding: 20px 15px;
    }
    #main-menu .menu-item{
        margin: 0;
    }
    #main-menu .menu-item-right{
        padding-left: 15px;
    }
    .overlay-text{
        max-width: none;
        right: auto;
    }
    body,html{
        overflow-x: hidden;
    }
    .br-text h2{
        font-size: 30px;
    }
    .title.title-child-page{
        font-size: 20px;
    }
    .form-input-left{
        margin-bottom: 20px;
    }

}
@media (max-width: 670px) {
    .stm_post_details ul{
        width: 100%;
    }
    .stm_post_details .comments_num{
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 500px) {
    #under-nav img{
        min-height: 300px;

    }
    #under-nav .carousel-inner .carousel-caption h2{
        font-size: 24px;
    }
    #comment .swiper-container .swiper-pagination{
        /*top:auto;*/
        left: 20%;
    }
    .overlay-text{
        right: 0;
    }
    .title::after {
        left: 45%;
    }
    #my-nav .dropdown-menu {
        position: relative;
        width: 100%;
        background: #fff;
    }
    .title.title-child-page{
        height: auto;
    }

}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
@media (max-width: 398px) {
    .overlay-text{
        padding: 60px 20px;
    }
    #comment .swiper-container .swiper-pagination{
        top:82%;

    }
}
@media (max-width: 360px) {
    #my-nav.navbar-inverse {
        background: #222;
    }
    #comment .swiper-container .swiper-pagination{
    }
}
