
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/*img,*/
/*object,*/
/*embed {*/
/*width: 100%;*/
/*}*/
/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'iCiel Premier League Regular', sans-serif !important;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    /* CSS2 */
    white-space: pre-wrap;
    /* CSS 2.1 */
    white-space: pre-line;
    /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;
    /* IE */
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

/*select, input, textarea {font: 99% sans-serif;}*/
table {

}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td img {
    font-weight: normal;
    vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
    font-family: 'iCiel Premier League Regular', sans-serif !important;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
    margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
    width: auto;
    overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
    -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

* {
    outline: none;
}

html {
    width: 100%;
    height: 100%;
}

html,
html a {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body, html {
    font-family: 'iCiel Premier League Regular', sans-serif !important;
    background-color: #F2F2F2;
    color: #141414;
    overflow-x: hidden;
    font-size: 15px;
}

input[type=submit],
input[type=text],
input[type=password],
input[type=button],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 50px;
    resize: vertical;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: 0;
}

p {
    /*color: #141414;*/
}

@font-face {
    font-family: 'iCiel Premier League Light';
    src: url('../fonts/iCielPremierLeague-Light.eot');
    src: url('../fonts/iCielPremierLeague-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPremierLeague-Light.woff2') format('woff2'),
    url('../fonts/iCielPremierLeague-Light.woff') format('woff'),
    url('../fonts/iCielPremierLeague-Light.ttf') format('truetype'),
    url('../fonts/iCielPremierLeague-Light.svg#iCielPremierLeague-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Premier League Bold Cond';
    src: url('../fonts/iCielPremierLeague-BoldCondensed.eot');
    src: url('../fonts/iCielPremierLeague-BoldCondensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPremierLeague-BoldCondensed.woff2') format('woff2'),
    url('../fonts/iCielPremierLeague-BoldCondensed.woff') format('woff'),
    url('../fonts/iCielPremierLeague-BoldCondensed.ttf') format('truetype'),
    url('../fonts/iCielPremierLeague-BoldCondensed.svg#iCielPremierLeague-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Premier League Condensed';
    src: url('../fonts/iCielPremierLeague-Condensed.eot');
    src: url('../fonts/iCielPremierLeague-Condensed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPremierLeague-Condensed.woff2') format('woff2'),
    url('../fonts/iCielPremierLeague-Condensed.woff') format('woff'),
    url('../fonts/iCielPremierLeague-Condensed.ttf') format('truetype'),
    url('../fonts/iCielPremierLeague-Condensed.svg#iCielPremierLeague-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Premier League Bold';
    src: url('../fonts/iCielPremierLeague-Bold.eot');
    src: url('../fonts/iCielPremierLeague-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPremierLeague-Bold.woff2') format('woff2'),
    url('../fonts/iCielPremierLeague-Bold.woff') format('woff'),
    url('../fonts/iCielPremierLeague-Bold.ttf') format('truetype'),
    url('../fonts/iCielPremierLeague-Bold.svg#iCielPremierLeague-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Premier League Regular';
    src: url('../fonts/iCielPremierLeague-Regular.eot');
    src: url('../fonts/iCielPremierLeague-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPremierLeague-Regular.woff2') format('woff2'),
    url('../fonts/iCielPremierLeague-Regular.woff') format('woff'),
    url('../fonts/iCielPremierLeague-Regular.ttf') format('truetype'),
    url('../fonts/iCielPremierLeague-Regular.svg#iCielPremierLeague-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}





@font-face {
    font-family: 'iCiel Playfair Display Black It';
    src: url('../fonts/iCielPlayfairDisplay-BlackIta.eot');
    src: url('../fonts/iCielPlayfairDisplay-BlackIta.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-BlackIta.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-BlackIta.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-BlackIta.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-BlackIta.svg#iCielPlayfairDisplay-BlackIta') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'iCiel Playfair Display Regular';
    src: url('../fonts/iCielPlayfairDisplay-Regular.eot');
    src: url('../fonts/iCielPlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-Regular.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-Regular.svg#iCielPlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Playfair Display Italic';
    src: url('../fonts/iCielPlayfairDisplay-Italic.eot');
    src: url('../fonts/iCielPlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-Italic.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-Italic.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-Italic.svg#iCielPlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'iCiel Playfair Display Bold';
    src: url('../fonts/iCielPlayfairDisplay-Bold.eot');
    src: url('../fonts/iCielPlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-Bold.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-Bold.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-Bold.svg#iCielPlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Playfair Display';
    src: url('../fonts/iCielPlayfairDisplay-Black.eot');
    src: url('../fonts/iCielPlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-Black.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-Black.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-Black.svg#iCielPlayfairDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'iCiel Playfair Display Bold Ita';
    src: url('../fonts/iCielPlayfairDisplay-BoldIta.eot');
    src: url('../fonts/iCielPlayfairDisplay-BoldIta.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iCielPlayfairDisplay-BoldIta.woff2') format('woff2'),
    url('../fonts/iCielPlayfairDisplay-BoldIta.woff') format('woff'),
    url('../fonts/iCielPlayfairDisplay-BoldIta.ttf') format('truetype'),
    url('../fonts/iCielPlayfairDisplay-BoldIta.svg#iCielPlayfairDisplay-BoldIta') format('svg');
    font-weight: bold;
    font-style: italic;
}



/*@font-face {*/
/*font-family: 'SFProDisplay';*/
/*src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/


/*@font-face {*/
/*font-family: 'FontAwesome';*/
/*src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');*/
/*src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'), url("https://applesocial.s3.amazonaws.com/assets/styles/../fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");*/
/*font-weight: normal;*/
/*font-style: normal;*/
/*}*/

html,

* img {
    vertical-align: middle;
}

.main-content-wrap p {
    color: #777;
    font-size: 14px;
}

.title {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 24px;
    text-align: left;
    position: relative;
    line-height: 130%;
    align-items: center;
    color: #000000;

}

/*.title::after {*/
/*background: #fd9b28 none repeat scroll 0 0;*/
/*border-radius: 3px;*/
/*content: "";*/
/*display: block;*/
/*height: 6px;*/
/*margin: 4px 0 0;*/
/*width: 35px;*/
/*right: 48%;*/
/*position: absolute;*/
/*!*bottom: 0;*!*/
/*}*/
#breadcum .breadcrumb {
    background: transparent;
    padding: 30px 0;
    margin: 0;
}

#breadcum .breadcrumb a, #breadcum .breadcrumb li {
    font-size: 13px;
    color: gray;
}

#breadcum .breadcrumb > li + li::before {
    color: #fd9b28;
    content: ">";
    padding: 0 5px;
}

.child-breacum#breadcum li, .child-breacum#breadcum li a {
    color: #fff;
}

.child-breacum#breadcum .breadcrumb > li + li::before {
    color: #fff;
}

.child-breacum#breadcum .title {
    text-align: left;
    color: #fff;
}

.child-breacum#breadcum .title {
    text-align: left;
    color: #fff;
}

.child-breacum#breadcum .title::after {
    left: 0;
    background: #fff;
}

.title.title-child-page {
    font-size: 20px;
    text-align: left;
    height: 50px;
    margin-bottom: 30px;
}

.title.title-child-page::after {
    left: 0;
}

mark {
    color: #FD9B28;
}

/*.sticky {*/
/*position: fixed;*/
/*top: 0;*/
/*width: 100%;*/
/*z-index: 99999999;*/
/*}*/

.gray-bg {
    background: #f2f2f2;
}

.title.white-title {
    color: #fff;
}

.title.white-title::after {
    border-bottom: 3px solid #fff;
}

.title-left {
    color: #2f2e2e;
    font-size: 38px;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
}

.title-left::after {
    content: "";
    border-bottom: 3px solid #005b74;
    position: absolute;
    width: 50px;
    left: 0%;
    bottom: -20%;
}

.no-padding {
    padding: 0;
}

.title-small {
    font-size: 18px;
    color: #006228;
    text-transform: uppercase;
    margin: 10px 0;
}

.my-btn {
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-table;
    font-weight: 700;
}

.dropdown-menu {
    background: #fff;
}

#main-menu .menu-item .dropdown-menu li:first-child a {
    padding: 10px 15px;
}

#my-nav ul.dropdown-menu li a {
    color: #333;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 15px;
}

#my-nav ul.dropdown-menu li:hover a {
    background: #1e1f21;
    color: #fff;
}

.dropdown-menu li a:hover {
    background: transparent;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background: transparent;
    color: #007f00;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #007f00;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.padding-l-r-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.p-r-5 {
    padding-right: 5px;
}
.p-l-5 {
    padding-left: 5px;
}
.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-l-15 {
    padding-left: 15px;
}

.no-padding-l-r {
    padding-left: 0!important;
    padding-right: 0!important;
}

.no-padding-l {
    padding-left: 0!important;
}

.no-padding-r {
    padding-right: 0!important;
}

/*.navbar-inverse .navbar-nav > li > a:focus::after,*/
/*.navbar-inverse .navbar-nav > li > a:hover::after {*/
/*border-bottom: 2px solid #ff0;*/
/*content: "";*/
/*position: absolute;*/
/*}*/
/***********************************
    slide-left-menu
***************************************/
.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 88;
    top: 0;
    left: -250px;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
    min-height: 500px;
    border: 1px solid #ededed;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #007f00;
    display: block;
    transition: 0.3s;
    background: #fff;
    font-size: 17px;
    padding: 8px;
}

.sidenav .odd {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    background: transparent;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/**************************************************************************************************************************************************************************************
        my-menu
******************************************************************************************************************************************************************************/
#my-nav {
    position: relative;
    z-index: 99;
    background: #101010;
    /*box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);*/
    margin-bottom: 0;
}

#my-nav.navbar-inverse {
    /*background: #FFFFFF;*/
    border-radius: 0;
    border: none;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li {
    position: relative;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li a {
    padding: 30px 36px 22px;
    position: relative;
    border-right: 1px solid #dcdcdc;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.active a::after {
    border-bottom: 3px solid #007f00;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li:hover a::after {
    border-bottom: 3px solid #007f00;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown.open a.dropdown-toggle {
    background: transparent;
    color: #007f00;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown.open ul li ul li {
    padding: 3px 0;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu {
    background: #fff;
    padding: 20px 0;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.mega-dropdown-menu {
    background: #f2f2f2;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.mega-dropdown-menu li.dropdown-header {
    margin: 0px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.mega-dropdown-menu li a {
    margin: 10px;
    color: #58676d;
    font-size: 15px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.mega-dropdown-menu li.special a {
    display: block;
    background: #fff;
    padding: 15px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu a {
    padding: 0 40px;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu a::after {
    content: none;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.index a::after {
    content: none;
}

#my-nav.navbar-inverse #bs-example-navbar-collapse-1 ul li.mega-dropdown ul li a {
    border: none;
}

@media (max-width: 360px) {
    #my-nav.navbar-inverse {
        background: #222;
    }
}

/***************************************************************************************************************************************************
    highlight-hot
*****************************************************************************************************************************************************/

a.xemthem {
    font-family: 'iCiel Premier League Condensed', sans-serif !important;
    font-size: 17px;
    line-height: 130%;
    color: #03DD5A;
    margin-bottom: 15px;
    position: relative;
    margin-top: 30px;
}

#highlight-hot {
    background: #ffffff;
    padding-bottom: 30px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-right {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-right-title {
    font-size: 15px;
    line-height: 130%;
    color: #000000;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-right-text {
    font-size: 13px;
    line-height: 140%;
    color: #777777;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-right-note span {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 13px;
    line-height: 140%;
    color: #0F0F0F;
    margin-right: 10px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-right-note span.time-old {
    font-family: 'iCiel Premier League Regular', sans-serif !important;
    font-size: 13px;
    line-height: 140%;
    color: #777777;
    margin-left: 10px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body-right .highlight-hot-img img {
    width: 100%;
    height: 140px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body .highlight-left-img {
    width: 100%;
    /*height: 298px;*/
}

.play-group{
    background: url('../images/play_group.png') no-repeat center;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 64%;
    left: 13%;
}

.icon-play{
    background: url('../images/icon_play.png') no-repeat center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 45%;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body .highlight-left-img .icon-play {
    background: url('../images/icon_play.png') no-repeat center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 30%;
}


#highlight-hot .highlight-hot-wrap .highlight-hot-body .highlight-left-title {
    background: linear-gradient(108.05deg, #03DD5A 0%, #00C2FF 107.71%);
    border-radius: 4px;
    padding: 15px;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body .highlight-left-title h4 {
    font-family: 'iCiel Playfair Display Bold', sans-serif !important;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: bold;
}

#highlight-hot .highlight-hot-wrap .highlight-hot-body .highlight-left-title span {
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}

/**********************************************************************************************************************************************************
    new-hot
**************************************************************************************************************************************************************/

#new-hot {
    background: #ffffff;
}

#new-hot .new-hot-wrap .new-hot-body .new-hot-img img {
    border-radius: 4px;
    width: 100%;
    height: 175px;

}

#new-hot .new-hot-wrap .new-hot-body .new-hot-title h4 {
    font-size: 15px;
    line-height: 130%;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 15px;

}

/*****************************************************************************************************************************************************
    new-home
************************************************************************************************************************************************************/
#new-home {
    background: #ffffff;
    padding-bottom: 30px;
}

#new-home .new-home-wrap .new-home-left .new-home-date {
    width: 100%;
    /*height: 50px;*/
    background: #F2F2F2;
    border-radius: 4px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
}


#new-home .new-home-wrap .new-home-left .new-home-date a{
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-left .new-home-time{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    /*height: 95px;*/
    width: 100%;
    padding: 15px 0 15px 0;
    margin-top: 15px;
    display: inline-table;
}

#new-home .new-home-wrap .new-home-left .new-home-time .btn-xemngay button{
    font-size: 15px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #03DD5A;
    border-radius: 4px;
}

#new-home .new-home-wrap .new-home-left .new-home-time .doibong .goal{
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 24px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #03DD5A;
}

#new-home .new-home-wrap .new-home-left .new-home-time .doibong img{
    width: 46px;
    height: 46px;
}

#new-home .new-home-wrap .new-home-left .new-home-time .doibong span{
    font-size: 15px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-left .new-home-time .time-start img{
    width: 70px;
    height: 18px;
}

#new-home .new-home-wrap .new-home-left .new-home-time .time-start span {
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-left .new-home-time .time-start h6 {
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #0F0F0F;
}










#new-home .new-home-wrap .new-home-left .new-home-time-start{
    background: #FFFFFF;
    border: 1px solid #0F0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    /*height: 95px;*/
    width: 100%;
    padding: 15px 0 15px 0;
    margin-top: 15px;
    display: inline-table;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .btn-xemngay button{
    font-size: 15px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #03DD5A;
    border-radius: 4px;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .doibong .goal{
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 24px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #03DD5A;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .doibong img{
    width: 46px;
    height: 46px;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .doibong span{
    font-size: 15px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .time-start img{
    width: 70px;
    height: 18px;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .time-start span {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-left .new-home-time-start .time-start h6 {
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    color: #0F0F0F;
}


#new-home .new-home-wrap .new-home-left .video-new-home-right .video-right-title span {
    font-size: 15px;
    line-height: 130%;
    color: #000000;
}

#new-home .new-home-wrap .new-home-right h4 {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    padding: 15px 0;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #0F0F0F;
}

#new-home .new-home-wrap .new-home-right .table {
    font-size: 11px!important;
    margin-bottom: 0!important;
}

#new-home .new-home-wrap .new-home-right {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 0;
}

#new-home .new-home-wrap .new-home-right img{
    width: 180px;
    height: 40px;
    margin-bottom: 10px;
    /*margin-top: 10px;*/
}

#new-home .new-home-wrap .table tr.new-home-right-opacity{
    font-size: 11px;
    line-height: 130%;
    background: #f0f0f0;
    z-index: 1;
}

#new-home .new-home-wrap .table tr>th{
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    color: #000000;
    font-weight: bold;
}

#new-home .new-home-wrap .new-home-right .table td.top3 {
    color: red;
}

#new-home .new-home-wrap .new-home-right .table img {
    width: 18px;
    height: 18px;
    margin-right: 7px;
    margin-bottom: 0;
}

#new-home .new-home-wrap .new-home-left  .new-body  a {
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 4px;

}

#new-home .new-home-wrap .new-home-left .video-new-border {
    background: #FFFFFF;
    /*border: 1px solid #F2F2F2;*/
    box-sizing: border-box;
    border-radius: 4px;
    /*padding-bottom: 11px;*/
}

#new-home .new-home-wrap .new-home-left .video-new-home-right .video-right-img-highlight img {
    width: 70px;
    height: 20px;
}

#new-home .new-home-wrap .new-home-left .video-new-home-right .video-right-title {
    margin-top: 5px;
}

#new-home .new-home-wrap .new-home-left .video-new-home-right .video-right-img-highlight span {
    position: absolute;
    left: 10px;
    top: 18%;
    font-size: 11px;
    line-height: 130%;
    color: #ffffff;
}

#new-home .new-home-wrap .new-home-left .video-new-home-left .video-left-img img {
    width: 80px;
    height: 80px;
}

#new-home .new-home-wrap .new-home-left .new-home-left-img img {
    width: 100%;
    height: 360px;
}

#new-home .new-home-wrap .new-home-left .new-home-left-title h4 {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 21px;
    line-height: 130%;
    color: #000000;
}

#new-home .new-home-wrap .new-home-left .new-home-left-title span {
    font-size: 15px;
    line-height: 140%;
    color: #777777;
}

#new-home .new-home-wrap .new-home-left .new-left-img img {
    width: 100%;
    height: 145px;
}

#new-home .new-home-wrap .new-home-left .new-left-title h4 {
    font-size: 15px;
    line-height: 130%;
    color: #000000;

}

/************************************************************************************************************************************************************************************
     Banner top
*****************************************************************************************************************************************************************************************/
#banner-top .banner-top-1 {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    border-radius: 4px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}

.logo_fancuong {
    width: 100px;
    height: 36px;
}

.w-100 {
    width: 100%;
}

/***********************************
      menu
*******************************/
#my-nav ul li a {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    /*border-right: 1px solid #dcdcdc;*/
    padding: 20px 25px;
    position: relative;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    /*font-weight: 700;*/
}

.logo_fancuong {
    position: absolute;
    left: 1%;
    top: 1%;
}

#main-menu li.home-menu  a{
    padding: 16px!important;
}
#main-menu li.home-menu a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#main-menu li.home-menu a {
    background: #03DD5A;
    border-radius: 6px 6px 0px 0px;
    margin-top: 5px;
    font-weight: 600;
    color: black !important;
}

#main-menu .menu-item li:first-child a {
    /*padding-left: 0;*/
}

#my-nav .navbar-nav.navbar-right li a {
    padding: 20px 25px 20px 0;
    color: rgba(255, 255, 255, 0.66);
    font-size: 18px;
    cursor: pointer;
}

#my-nav .navbar-nav.navbar-right li a#my-search {
    padding: 20px 25px;
}

#my-nav .navbar-nav.navbar-right li a#my-search::before {
    content: "";
    height: 27px;
    right: 100%;
    margin: -14.5px 0 0;
    position: absolute;
    top: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
}

#my-nav ul li:last-child a::after, #my-nav ul li ul li a, #my-nav .navbar-nav.navbar-right li a::after {
    content: none;
}

#my-nav ul li.active a {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 17px;
    line-height: 18px;
    align-items: center;
    color: #03DD5A;
}

#my-nav ul li a::after {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    content: "";
    height: 27px;
    left: 100%;
    margin: -14.5px 0 0;
    position: absolute;
    top: 50%;
}

/*********************
      slider
*********************/

.carousel-control i {

    position: absolute;
    top: 50%;
    width: 45px;
    z-index: 5;
    height: 45px;
    border: 3px solid #bac1c6;
    color: #bac1c6;
    line-height: 40px;
    font-size: 20px;

}

.left.carousel-control i {
    right: 0;
}

.right.carousel-control i {
    left: 0;
}

.carousel-control i:hover {
    background: #FD9B28;
    border: 3px solid #FD9B28;
    color: #fff;
}

#my-form-search.active .pop-search-box {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
}

.pop-search-box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    /*margin-top: 7px;*/
    opacity: 0;
    padding: 16px;
    position: absolute;
    right: 6px;
    top: 90%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 300px;
}

.pop-search-box::before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 5px 5px;
    content: "";
    height: 0;
    position: absolute;
    right: 17px;
    top: -5px;
    width: 0;
}

.pop-search-box_form {
    position: relative;
}

.pop-search-box_form .form-control {
    background: #eee none repeat scroll 0 0;
    border: 0 none;
    color: #1e1f21;
    font-size: 13px;
    height: auto;
    padding: 11px 55px 11px 15px;
    transition: all 0.3s ease 0s;
    width: 100%;
    border-radius: 0;
}

.pop-search-box_form button {
    background: #fd9b28 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 16px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

/*************************
      footer
***************************/

#footer2 .col-footer.has-chevron .widget-body li a::before {
    content: "\f054";
    /*font-family: "FontAwesome";*/
    font-size: 8px;
    margin-right: 15px;
    color: #fd9b28;
}

#footer2 .widget-body li {
    margin-bottom: 10px;
}

#footer2 {
    padding: 15px;
    /*margin-top: 30px;*/
    background: #16171D;
    width: 100%;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    text-align: justify;
}

#footer2 ul.menu-footer  li a{
    color: #FFFFFF;
    font-size: 13px;
    line-height: 19px;
    align-items: center;
    text-align: center;
}

#footer2 ul.menu-footer li a.active {
    color: #03DD5A;
}

#footer2 .footer-paralax .footer-row span {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

#footer2 .footer-paralax .footer-row .footer-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

#footer2 .footer-paralax .footer-row .footer-email {
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    color: #03DD5A;
}

/************************
    slider
***********************/
.slider {
    /*width: 50%;*/
    /*margin: 30px auto;*/
}

.slick-prev, .slick-next {
    background: #E0E0E0 !important;
    border-radius: 0px 4px 4px 0px !important;
    height: 70px !important;
}

.slick-prev {
    left: -20px !important;
    top: 45px !important;
}

.slick-next {
    right: -20px !important;
    top: 45px !important;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-next:before {
    content: '>' !important;
}

.slick-prev:before {
    content: '<' !important;
}

.slick-prev:before, .slick-next:before {
    color: #ffffff !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 10px!important;
}
/*.slick-slide {*/
/*transition: all ease-in-out .3s;*/
/*opacity: .2;*/
/*}*/

/*.slick-active {*/
/*opacity: .5;*/
/*}*/

/*.slick-current {*/
/*opacity: 1;*/
/*}*/

.variable .slide-body {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    /*width: 100%;*/
    height: 70px;
}

.variable .slide-body .goal-football {
    font-family: 'iCiel Premier League Bold Cond', sans-serif !important;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0F0F0F;
    margin-top: 10px;
}

.variable .slide-body img {
    width: 28px;
    height: 28px;
    margin: auto;
}

.variable .slide-body span {
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    color: #0F0F0F;
}

.variable .caption-wrap h4 {
    font-family: 'iCiel Premier League Condensed', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #0F0F0F;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

.variable .caption-wrap h5 {
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    color: #777777;
}

.variable .swiper-slide .services-box {
    text-align: center;

}

/************************
    bg-new
***********************/
#bg-new {
    background: url("../images/bg-new.png") no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 120px;
    padding-top: 29px;
    /*filter: blur(10px);*/
}

#bg-new h4 {
    font-size: 30px;
    line-height: 130%;
    align-items: center;
    color: #000000;
    z-index: 99999;
}

#bg-new span {
    font-size: 15px;
    line-height: 130%;
    align-items: center;
    color: #000000;
    z-index: 99999;
}

/***********************************************************************************************************************************
    news
***********************************************************************************************************************************/

#news {
    background: #ffffff;
}

#news .news-hot-wrap .news-body-right .tab-content .news-tab {
    border-bottom: 1px solid #F2F2F2;
}

#news .news-hot-wrap .news-body-right .tab-content .news-tab .news-tab-img img {
    height: 165px;
    border-radius: 4px;
}

#news .news-hot-wrap .news-body-right .tab-content .news-tab .news-tab-title {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 17px;
    line-height: 130%;
    color: #000000;
}

#news .news-hot-wrap .news-body-right .tab-content .news-tab .news-tab-text {
    font-size: 15px;
    line-height: 140%;
    color: #777777;
}

#news .news-hot-wrap .news-body-right .tab-content .news-tab .news-tab-nguon {
    font-size: 13px;
    line-height: 140%;
    align-items: center;
    color: #03DD5A;
    font-weight: 600;
}

#news .news-hot-wrap .news-body-left {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 2px #e8e8e8;
    -moz-box-shadow: 0px 0px 2px 2px #e8e8e8;
    -webkit-box-shadow: 0px 0px 2px 2px #e8e8e8;
    /*padding: 13px;*/
}
#news .news-hot-wrap .news-body-left .tabbable ul>li{
    padding: 0;
    margin: 0;
    /*padding: 13px;*/
}
#news .news-hot-wrap .news-body-left .tabbable ul>li a{
    padding: 0;
    margin: 0;
    /*padding: 13px;*/
}


#news .news-hot-wrap .news-body .banner-new{
    width: 100%;
    height: 450px;
    background: #F6F6F6;
    margin-top: 20px;
}

#news .news-hot-wrap .news-body .banner-new span{
    /*position: absolute;*/
    top: 63%;
    left: 41%;
}

#news .nav-pills > li.active > a {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    color: #03DD5A;
    background: #ffffff;
    content: "";
    display: block;
    border-bottom: 1px solid #03DD5A;
    margin: 0 15px;
    font-size: 17px;
    line-height: 140%;
    padding-bottom: 15px!important;

}

#news .nav-pills > li > a {
    color: #03DD5A;
    background: #ffffff;
    content: "";
    display: block;
    border-bottom: 1px solid #F2F2F2;
    margin: 0 15px;
    font-size: 17px;
    line-height: 140%;
    padding-bottom: 15px!important;

}


#news .nav-pills > li.active {
    padding: 15px 0 0 20px!important;
}

#news .nav-pills > li {
    padding: 15px 0 0 20px!important;
}

.nav-pills>li>a {
    border-radius: 0!important;
}

#news .nav-pills > li > a, .nav-pills > li > a:focus, .nav-pills > li > a:hover {
    /*color: #03DD5A;*/
    /*background: #ffffff;*/
    /*content: "";*/
    /*display: block;*/
    /*border-bottom: 1px solid #F2F2F2;*/
    /*margin: 0 15px;*/
}

#news .nav-pills > li.active > a:after {
    position: absolute;
    right: 20px;
    /*background: url ('../images/small_triangle.png') transparent no-repeat;*/

    content: url('../images/vector.png'); !important;
}

#news .nav-pills > li > a {
    font-size: 17px;
    line-height: 50px;
    align-items: center;
    color: #333333;
}

#news .nav > li > a {
    padding: 0 !important;
}




/*****************************************************************************************************************************************************
    new-soikeo
************************************************************************************************************************************************************/

#new-soikeo .new-soikeo-img img {
    width: 100%;
    height: 170px;
    border-radius: 4px 4px 0 0;
}
#new-soikeo .new-soikeo-body {
    height: 120px;
    background: #0F0F0F;
    padding: 12px;
    border-radius: 0 0 4px 4px ;
}

#new-soikeo .new-soikeo-wrap {
    border-radius: 4px 4px 4px 4px;
}

#new-soikeo .new-soikeo-body .new-soikeo-date {
    font-size: 13px;
    line-height: 140%;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#new-soikeo .new-soikeo-body .new-soikeo-date i{
    margin-right: 5px;
}

#new-soikeo .new-soikeo-body .new-soikeo-title h4 {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
}

#new-soikeo .new-soikeo-body .new-soikeo-title h4>strong {
    color: #03DD5A;
    font-weight: 600;

}

/*****************************************************************************************************************************************************
    pagination
************************************************************************************************************************************************************/
ul.pagination li span{
    border: 1px solid #0F0F0F!important;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 5px;
}

ul.pagination li.active span{
    background: #03DD5A;
    color: #ffffff;
}


ul.pagination li a{
    border: 1px solid #0F0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 5px;
    color: #0F0F0F;
}


/***************************************************************************************************************************************************
    highlight
*****************************************************************************************************************************************************/
#highlight {
    padding-bottom: 20px;
}

#highlight .highlight-body .highlight-img .icon-play {
    background: url('../images/icon_play.png') no-repeat center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 25%;
}

#highlight .highlight-body .highlight-img img {
    width: 100%;
    height: 170px;
    border-radius: 4px 4px 0 0;
}

#highlight .highlight-body .highlight-body-bt{
    width: 100%;
    border-radius:  0 0 4px 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #0F0F0F;
    display: inline-block;
    border: 1px solid black;
}

#highlight .highlight-body .highlight-body-bt .highlight-body-bt-img{
    display: block;
    padding: 7px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#highlight .highlight-body .highlight-body-bt .highlight-body-bt-img img {
    width: 36px;
    height: 36px;
}

#highlight .highlight-body .highlight-body-bt span {
    font-size: 13px;
    line-height: 130%;
    align-items: center;
    color: #ffffff;
}

#highlight .highlight-body .highlight-body-bt .highlight-body-bt-goad {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 24px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    letter-spacing: 5px;
    color: #03DD5A;
}

/***************************************************************************************************************************************************
    highlight detail
*****************************************************************************************************************************************************/
#highlight .highlight-title-body .highlight-title{
    font-size: 30px;
    line-height: 130%;
    align-items: center;
    color: #0F0F0F;
}




/***********************************************************************************************************************************
    news
***********************************************************************************************************************************/

#detail-news {
    background: #ffffff;
}
#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-title{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: #0F0F0F;
    margin-bottom: 10px;
}

#detail-news .detail-news-hot-wrap .detail-news-left-body{
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
}
#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-tag{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 1px;
}

#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-des{
    font-size: 15px;
    line-height: 130%;
    color: #0F0F0F;
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F2F2;
}

#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-content {
    font-size: 13px;
    line-height: 140%;
    color: #0F0F0F;
    padding-bottom: 10px;
    border-bottom: 1px solid #F2F2F2;
}

#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-content p{
    line-height: 25px;
    margin-bottom: 20px;
}

#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-time{
    font-size: 13px;
    line-height: 18px;
    color: #0F0F0F;
}
#detail-news .detail-news-hot-wrap .detail-news-left-body .detail-news-left-time i{
    margin-right: 10px;
}
#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content h4 {
    font-family: 'iCiel Premier League Bold', sans-serif !important;
    font-size: 21px;
    line-height: 130%;
    align-items: center;
    color: #0F0F0F;
    margin-bottom: 10px;
}


#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab .detail-news-tab-all {
    padding-right: 22px;
    padding-top: 6px;
    display: inline-block;
    padding-left: 0px;
}

#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab .detail-news-tab-img img {
    height: 118px;
    border-radius: 4px;
}

#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab .detail-news-tab-title {
    font-size: 15px;
    line-height: 130%;
    color: #0F0F0F;
}

#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab .detail-news-tab-text {
    font-size: 13px;
    line-height: 130%;
    align-items: center;
    color: #0F0F0F;
    opacity: 0.6;
}

#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-news-tab .detail-news-tab-nguon {
    font-size: 13px;
    line-height: 140%;
    align-items: center;
    color: #03DD5A;
    font-weight: 600;
}

#detail-news .detail-news-hot-wrap .detail-news-body-left {
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #e8e8e8;
    padding: 13px;
}


#detail-news .detail-news-hot-wrap .detail-news-body-right .detail-tab-content .detail-banner-new {
    width: 100%;
    height: 200px;
    background: #F6F6F6;
    margin-top: 20px;
}

.fa-circle:before {
    content: "\f111";
    color: #C4C4C4!important;
}

.border-blue {
    background: url('../images/border_blue.png') no-repeat center;
    width: 100%;
    height: 3px;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    right: 0;
}
.border-video {
    background: url('../images/border_blue.png') no-repeat center;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
}
.border-100 {
    border: 1px solid #F2F2F2;
    width: 100%;
    margin: 10px 0;
}

#new-home .new-home-wrap .new-home-right .hideContent{
    overflow: hidden!important;
    line-height: 1em!important;
    height: 425px!important;
}

.showContent {
    line-height: 1em;
    height: auto;
}
.showContent{
    height: auto;
}

.show-more {
    padding: 10px 0;
    text-align: center;
}
